*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
form{
    padding: 60px 30px 60px 30px;
    
}
input{
    height: 45px;
    padding: 5px 10px 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid rgba(1, 74, 229, 0.15);
    background-color: rgba(1, 74, 229, 0.02);
}
input[type="email"]:focus, input[type="password"]:focus,input[type="text"]:focus{
    border: 2px solid #014ae5;
    outline: 0 none;
    background-color: rgba(1, 74, 229, 0.07);
}

input[type="checkbox"]:checked + label {
    color: #014ae5;
    
}
.main{
    background-image: url('../img/bg-form.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: flex-start;
}
.container__section{
    width: 45%;
    height: 100vh;
    padding: 25px;
}
.header{
    text-align: center;
    font-size: 25px;
    color: #22336b;
}
.message{
    text-align: center;
    padding: 30px 35px 30px 35px;
    font-weight: 400;
    color: #2e3e72;
    font-size: 20px;
}
.password{
    margin-top: 5px;
}
.mail, .password{
    text-align: center;
}
.mail__text{
    width: 400px;
}
.password__text{
    width: 400px;
}
.confirm__text{
    width: 195px;
}
.options{
    padding-right: 52px;
    padding-left: 52px;
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.options__link{
    text-decoration: none;
    color: #014ae5;
    border-radius: 5px;
    padding: 2px;
}

.options__link:hover{
    background-color: #014ae5;
    color: #fff;
    
}
.cookie{
    display: flex;
    align-items: center;
}
.cookie__input{
    width: 16px;
}
.cookie__label{
    margin-left: 5px;
    color: #2e3e72;
    border-radius: 5px;
    padding: 2px;
}
.btn{
    text-align: center;
    padding-top: 30px;
}
.btn__submit{
    width: 400px;
    height: 45px;
    font-size: 16px;
    border: 2px solid #2e3e72;
    border-radius: 5px;
    background-color: #f2f5ff;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #2e3e72;
    font-weight: 500;
    letter-spacing: 0.6px;
}
.btn__submit:focus{
    outline: none;
}
.btn__submit:hover{
    color: #fff;
    background-color: #2e3e72;
}
::placeholder{
    color: #2e3e72cb;
}
.none{
    display: none;
}