.message{
    padding-bottom: 10px;
}
.container__password{
    padding-right: 52px;
    padding-left: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.container__names{
    padding-right: 52px;
    padding-left: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.red{
    border-color:rgb(255, 30, 45);
    background-color: rgba(255, 30, 45, 0.09);
}