:root {
    /*Se definen los colores primarios o mas usados en este diseño*/
    --primary: #002E9F;
    --light: #ffffff;
    --grey: #efefef;
}
body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--primary);
}
a:hover {
    text-decoration: none;
}

/*Se definen los fondos con su respectivo color*/
.bg-primary { background-color: var(--primary) !important; }
.bg-light { background-color: var(--light) !important; }
.bg-grey { background-color: var(--grey) !important; }
.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }
.bg-grey{background-color: var(--grey) !important;}

/*Formato de los botones primarios*/
.btn-primary {
    background-color: var(--primary);
    border: 0;
}
.btn-primary:hover {
    background-color: var(--primary);
}
#sidebar-container {
    min-height: 100vh;
}
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}

/*Ancho del menu lateral*/
#sidebar-container .menu {
    width: 18rem;
}
#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
.avatar {
    max-width: 35px;
}
.btn-search {
    right: 0;
}
.stat {
    border-right: 1px solid var(--grey);
}

/*Estilo de los botones en la gestion de los datos de ventas*/
.bt{
    width: 100%;
    padding: 7px;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: var(--primary);
    border-radius: 6px;
    border: 2px solid var(--primary);

@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }
}

/*Estilo para los botones de las transaciones*/
  .btn-trans-p{
    background-color:#28a745;
    border: 0;
}
.table-responsive{
    overflow-y:hidden;
}
table{
background-color: white;
text-align: center;
border-radius: 4px;
border-collapse: collapse;
}
td, th{
    padding: 20px;
}
thead{
    background-color: rgb(52, 52, 255);
    border-bottom: violet;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
#botonjson{
    width: 100%;
}

.groupone{
    padding: 25px;
    
}
.one{
    display: inline-block;
    margin-top: 20px;
    background-color: #efefef;
    border: 2px solid #002E9F;
    color: #002E9F;
    padding: 10px;
    border-radius: 5px;
}
.one:hover{
    background-color: #002E9F;
    color: #fff;
}
.titleone{
    color: black;
    font-weight: 700;
}


