*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.main{
    background-image: url('../img/bg-page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: flex-start;
}
.container__title{
    font-size: 50px;
    color: #22336b;
}
.container__section{
    width: 45%;
    height: 100vh;
    padding: 25px 25px 25px 55px;
    display: flex;
    align-items: center;
}
.container__paragraph{
    font-weight: 400;
    color: #2e3e72;
    font-size: 20px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 35px;
}
.container__link{
    text-decoration: none;
    color: #014ae5;
}
.container__link:hover{
    box-shadow: 0px 2px #014ae5;
}

.container__button{
    width: 120px;
    height: 45px;
    font-size: 16px;
    border: 2px solid #014ae5;
    border-radius: 5px;
    background-color: #f2f5ff;
    
  
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #014ae5;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding: 10px 16px 10px 16px;
    text-decoration: none;

}
.container__button:hover{
    color: #fff;
    background-color: #014ae5;

}
.container__button:focus{
    outline: none;
}