doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  title Dashboard
main.main
  .container
    section.container__section
      .container__separation
        h1.container__title Dashboard
        p.container__paragraph
          | Bienvenido al Dashboard de resultados de ventas, puedes
          | visualizar la informaci&oacute;n de estad&iacute;sticas de la empresa
          | disponible para usuarios, o acceder como administrador.
        a.container__button(href='/login') ACCEDER