doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/login.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  title Iniciar Sesi&oacute;n
main.main
  .container
    section.container__section
      .content
        form(action='/login' onsubmit='return validation()' method='post')
          .header
            h1.header__title Iniciar Sesi&oacute;n
          .message
            p.message__paragraph
              | Aqu&iacute; puedes acceder como administrador del sistema al
              | Dashboard de resultados de ventas.
          .mail
            label.none(for='email') Correo
            br
            input#email.mail__text.input(type='email' placeholder='Correo' name='email')
          .password
            label.none(for='password') Contrase&ntilde;a
            br
            input#password.password__text.input(type='password' placeholder='Contraseña' name='password')
          .options
            a.options__link(href='/register') Registrarse
            a.options__link(href='/') &iquest;Eres un usuario?
          .button
            .btn
              input#login.btn__submit(type='submit' value='INGRESAR')
script(src='')