doctype html
head
  // meta tags del documento
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Referencia a Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // Referencia para estilo y hoja js.
  link(rel='stylesheet' href='css/stock.css')
  // Referencia para fuentes
  link(href='https://fonts.googleapis.com/css?family=Muli:300,700&display=swap' rel='stylesheet')
  // Referencia para iconos
  link(href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css' rel='stylesheet')
  script.
    fetch('/js/data.json')
    .then((res) => {
      return res.json()
    }).then((res) => {
      return res
    })
  title Inicio
#content-wrapper.d-flex
  // Sidebar
  #sidebar-container.bg-primary
    .logo
      h4.text-light.font-weight-bold.mb-0 FACCI DASHBOARD
    .menu
      a.d-block.text-light.p-3.border-0(href='/main')
        i.icon.ion-md-home
        |                     Inicio
      a.d-block.text-light.p-3.border-0(href='/stock')
        i.icon.ion-md-cube
        |                     Stock Productos
      a.d-block.text-light.p-3.border-0(href='/sales')
        i.icon.ion-md-pricetags
        |                     Gestion ventas
      a.d-block.text-light.p-3.border-0(href='/transaction')
        i.icon.ion-md-cash
        |                     Transacciones
      a.d-block.text-light.p-3.border-0(href='/visit')
        i.icon.ion-ios-eye
        |                     Visitas
      a.d-block.text-light.p-3.border-0(href='/topsales')
        i.icon.ion-md-basket
        |                     Productos con mayor ingreso
  .w-100
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      .container
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.mt-2.mt-lg-0
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.text-dark.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                // Menú al hacer click en el icon de usuario.
                a.dropdown-item(href='/profile') Mi perfil
                .dropdown-divider
                a.dropdown-item(href='/') Cerrar sesi&oacute;n
    // Fin Navbar
    // Contenido de la página.
    #content.bg-grey.w-100
      section.bg-light.py-3
        .container
          .row
            .col-lg-9.col-md-8
              h1.font-weight-bold.mb-0#welcome
      // Columna Izquierda del contenido
      section
        .container
          .row
            // Modifica los atributos de la columna
            .col-lg-5.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Estadistica de Visitantes por Mes.
                .card-body.pt-2
                  .col-lg-3.col-md-6.d-flex.stat.my-3
                    .mx-auto
                      h6.text-muted Cant. Usuarios (Ult. Mes)
                      h3.font-weight-bold 500
                      canvas#colChart(width='360' height='255')
            // Modifica los atributos de la columna
            .col-lg-5.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Estadistica de Visitantes por Semana.
                .card-body.pt-2
                  .col-lg-3.col-md-6.d-flex.stat.my-3
                    .mx-auto
                      h6.text-muted Cant. Usuarios (Ult. Semana)
                      h3.font-weight-bold 337
                      canvas#colChart2(width='360' height='255')
                  | &acute;
        // Redes sociales
        .card-body
          .row
            .col-lg-4.col-md-6.d-flex.stat.my-3
              .mx-auto
                h6.text-muted
                  i.icon.ion-logo-facebook
                  a(href='https://www.facebook.com/' target='_blank')
                    | Facebook
            .col-lg-3.col-md-6.d-flex.stat.my-3
              .mx-auto
                h6.text-muted
                  i.icon.ion-logo-twitter
                  a(href='https://twitter.com/' target='_blank')
                    | Twitter
            .col-lg-4.col-md-6.d-flex.my-3
              .mx-auto
                h6.text-muted
                  i.icon.ion-logo-instagram
                  a(href='https://www.instagram.com/' target='_blank')
                    | Instagram
        // Fin De Redes Sociales
script.
  function getCookie(getName){
  var cookieName = getName+'=';
  var array = document.cookie.split(';');
  for(let i=0; i<array.length; i++){
  var cookie = array[i];
  while (cookie.charAt(0)==' '){
  cookie = cookie.substring(1);
  }
  if(cookie.indexOf(getName)==0){
  return cookie.substring(cookieName.length, cookie.length);
  }
  }
  return '';
  }
  let names = getCookie('Name')
  let userName = document.getElementById('navbarDropdown')
  let bienvenida = document.getElementById('welcome')
  userName.textContent = `${names} `
  bienvenida.textContent = `Bienvenido ${names}`
// JavaScript opcional
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js' integrity='sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=' crossorigin='anonymous')
script.
  var ctx = document.getElementById('colChart').getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
  labels: ['Sept 2020', 'Oct 2020', 'Nov 2020', 'Dic 2020'],
  datasets: [{
  label: 'Incidencia de Usuarios (Mensual)',
  data: [50, 200, 100, 500],
  backgroundColor: [
  '#12C9E5',
  '#12C9E5',
  '#12C9E5',
  '#111B54'
  ],
  maxBarThickness: 30,
  maxBarLength: 2
  }]
  },
  options: {
  scales: {
  yAxes: [{
  ticks: {
  beginAtZero: true
  }
  }]
  }
  }
  });
  //Usuarios Nuevos Ult. Semana
  var ctx = document.getElementById('colChart2').getContext('2d');
  var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
  labels: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'],
  datasets: [{
  label: 'Incidencia de Usuarios (Diario)',
  data: [5, 50, 20, 25, 35, 142, 60],
  backgroundColor: [
  '#12C9E5',
  '#12C9E5',
  '#12C9E5',
  '#111B54',
  '#12C9E5',
  '#111B54',
  '#111B54'
  ],
  maxBarThickness: 30,
  maxBarLength: 2
  }]
  },
  options: {
  scales: {
  yAxes: [{
  ticks: {
  beginAtZero: true
  }
  }]
  }
  }
  });
