doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/login.css')
  link(rel='stylesheet' href='/css/register.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  title Registrarse
main.main
  .container
    section.container__section
      .content
        form(action='/register' onsubmit='return validation()' method='post')
          .header
            h1.header__title Registrarse
          .message
            p.message__paragraph
              | Aqu&iacute; puedes registrarte como administrador del sistema de
              | Dashboard de resultados de ventas.
          .container__names
            .register__password
              #es
              label.none(for='password') Nombre
              br
              input#name.confirm__text.input(type='text' name='name' placeholder='Nombre')
            .register__password
              label.none(for='password') Apellido
              br
              input#lastname.confirm__text.input(type='text' name='lastname' placeholder='Apellido')
          .mail
            label.none(for='email') Correo
            br
            input#email.mail__text.input(type='email' name='email' placeholder='Correo')
          .container__password
            .register__password
              label.none(for='password') Contrase&ntilde;a
              br
              input#password.confirm__text.input(type='password' name='password' placeholder='Contraseña')
            .register__password
              label.none(for='password') Confirmar
              br
              input#confirm.confirm__text.input(type='password' placeholder='Confirmar')
          .options
            a.options__link(href='login.html') Acceder al sistema
            a.options__link(href='/') &iquest;Eres un usuario?
          .button
            .btn
              input.btn__submit(type='submit' value='REGISTRAR')
script(src='/js/register.js')