doctype html
head
  // Instanciamos los metadatos de etiquetas necesarias
  // Hacemos referencias a los estilos a utilizar como imagenes o fuentes
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // Estilos
  link(rel='stylesheet' href='/css/stock.css')
  // JS
  link(rel='JavaScript' href='js/sales.js')
  // fuentes de google
  link(href='https://fonts.googleapis.com/css?family=Muli:300,700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  // Fuente de los Iconos
  link(href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css' rel='stylesheet')
  script.
    fetch('/js/data.json')
    .then((res) => {
      return res.json()
    }).then((res) => {
      return res
    })
  title Gestion ventas
// Creamos las clases en base a Bootstrap, que nos permite desarrollar webs que se ajustan a cualquier resolución y dispositivo
#content-wrapper.d-flex
  // Barra lateral
  #sidebar-container.bg-primary
    .logo
      h4.text-light.font-weight-bold.mb-0 FACCI DASHBOARD
    // Se crea el menu con las opciones
    .menu
      // Se definen las pestanias o enlaces que tendra la pagina
      a.d-block.text-light.p-3.border-0(href='/main')
        i.icon.ion-md-home
        |           Inicio
      a.d-block.text-light.p-3.border-0(href='/stock')
        i.icon.ion-md-cube
        |           Stock Productos
      a.d-block.text-light.p-3.border-0(href='/sales')
        i.icon.ion-md-pricetags
        |           Gestion ventas
      a.d-block.text-light.p-3.border-0(href='/transaction')
        i.icon.ion-md-cash
        |           Transacciones
      a.d-block.text-light.p-3.border-0(href='/visit')
        i.icon.ion-ios-eye
        |           Visitas
      a.d-block.text-light.p-3.border-0(href='/topsales')
        i.icon.ion-md-basket
        |           Productos con mayor ingreso
  // Fin de la barra lateral
  .w-100
    // Creacion de la barra superior (Navbar)
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      .container
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // Se crea el menu desplegable del navbar
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.mt-2.mt-lg-0
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.text-dark.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | 
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                // Menú al hacer click en el icon de usuario.
                a.dropdown-item(href='/profile') Mi perfil
                .dropdown-divider
                a.dropdown-item(href='/') Cerrar sesi&oacute;n
    // Fin del Navbar
    // Contenido de la pagina
    #content.bg-grey.w-100
      // Creamos la parte donde ira el mensaje de bienvenida
      section.bg-light.py-3
        .container
          .row
            .col-lg-9.col-md-8
              h1.font-weight-bold.mb-0 Bienvenido a la secci&oacute;n de Ventas
      //
        Definimos la siguiente seccion correspondiente al resumen de ventas en la
        parte superior de la pagina de ventas
      section
        .container
          .card
            .card_body
              .row
                .col-lg-3.d-flex.stat.my-3
                  .mx-auto
                    h6.text-muted Ventas diarias
                    h3.font-weight-bold 150
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      | 50%
                .col-lg-3.d-flex.stat.my-3
                  .mx-auto
                    h6.text-muted Ventas semanales
                    h3.font-weight-bold 1050
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      | 25.50%
                .col-lg-3.d-flex.stat.my-3
                  .mx-auto
                    h6.text-muted Ventas mensuales
                    h3.font-weight-bold 4500
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      | 60.50%
                .col-lg-3.d-flex.my-3
                  .mx-auto
                    h6.text-muted Ventas anuales
                    h3.font-weight-bold 54750
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      | 50.75%
      // Se crear los respectivos graficos
      // lg=ancho
      section.bg-grey
        .container
          .row
            // Parte donde iran los graficos
            .col-lg-8.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Grafico Estadistico
                .card-body
                  canvas#myChart
            // Seccion donde iran los botones para manejar los graficos
            .col-lg-4.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Ventas
                // Se crean los botones con sus respectivas funciones
                .card-body
                  button#botonx.bt.my-3.font-weight-bold(onclick='semanales()' type='button')
                    | Ventas
                    | semanales
                  button#botonx.bt.my-3.font-weight-bold(onclick='mensuales()' type='button')
                    | Ventas
                    | mensuales
                  button#botonx.bt.my-3.font-weight-bold(onclick='anual()' type='button')
                    | Ventas
                    | anuales
script.
  function getCookie(getName){
  var cookieName = getName+'=';
  var array = document.cookie.split(';');
  for(let i=0; i<array.length; i++){
  var cookie = array[i];
  while (cookie.charAt(0)==' '){
  cookie = cookie.substring(1);
  }
  if(cookie.indexOf(getName)==0){
  return cookie.substring(cookieName.length, cookie.length);
  }
  }
  return '';
  }
  let names = getCookie('Name')
  let userName = document.getElementById('navbarDropdown')
  let bienvenida = document.getElementById('welcome')
  userName.textContent = `${names} `
  bienvenida.textContent = `Bienvenido ${names}`
// Definimos los JavaScripts a los que se hacen referencia, esto incluye bibliotecas de recursos
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js' integrity='sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=' crossorigin='anonymous')
// Script donde se alojan la creacion de los graficos
script(src='/js/sales.js')
