doctype html
head
  // meta tags del documento
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Referencia a Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // Referencia para estilo y hoja js.
  link(rel='stylesheet' href='/css/stock.css')
  link(rel='JavaScript' href='stock.js')
  // Referencia para fuentes
  link(href='https://fonts.googleapis.com/css?family=Muli:300,700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  // Referencia para iconos
  link(href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css' rel='stylesheet')
  script.
    fetch('/js/data.json')
    .then((res) => {
      return res.json()
    }).then((res) => {
      return res
    })
  title Stock productos
#content-wrapper.d-flex
  // Sidebar
  #sidebar-container.bg-primary
    .logo
      h4.text-light.font-weight-bold.mb-0 FACCI DASHBOARD
    .menu
      a.d-block.text-light.p-3.border-0(href='/main')
        i.icon.ion-md-home
        |           Inicio
      a.d-block.text-light.p-3.border-0(href='/stock')
        i.icon.ion-md-cube
        |           Stock Productos
      a.d-block.text-light.p-3.border-0(href='/sales')
        i.icon.ion-md-pricetags
        |           Gestion ventas
      a.d-block.text-light.p-3.border-0(href='/transaction')
        i.icon.ion-md-cash
        |           Transacciones
      a.d-block.text-light.p-3.border-0(href='/visit')
        i.icon.ion-ios-eye
        |           Visitas
      a.d-block.text-light.p-3.border-0(href='/topsales')
        i.icon.ion-md-basket
        |           Productos con mayor ingreso
  // Fin sidebar
  .w-100
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      .container
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.mt-2.mt-lg-0
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.text-dark.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Usuario
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                // Menú al hacer click en el icon de usuario.
                a.dropdown-item(href='/profile') Mi perfil
                .dropdown-divider
                a.dropdown-item(href='/') Cerrar sesi&oacute;n
    // Fin Navbar
    // Contenido de la página.
    #content.bg-grey.w-100
      section.bg-light.py-3
        .container
          .row
            .col-lg-9.col-md-8
              h1.font-weight-bold.mb-0 Bienvenido a la secci&oacute;n de Stocks
      // COLUMNA DE PRODUCTOS EN ORDENES
      section
        .container
          .row
            .col-lg-4.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Productos en ordenes.
                .card-body.pt-2
                  .d-flex.border-bottom.py-2
                    .d-flex.mr-3
                      h2.align-self-center.mb-0
                        i.icon.ion-md-cube
                    .align-self-center
                      h6.d-inline-block.mb-0 Silla Gamer
                      span.badge.badge-success.ml-2
                        | Orden
                        | Activa
                      small.d-block.text-muted Muebles
                  .d-flex.border-bottom.py-2
                    .d-flex.mr-3
                      h2.align-self-center.mb-0
                        i.icon.ion-md-cube
                    .align-self-center
                      h6.d-inline-block.mb-0 Teclado m&eacute;canico
                      span.badge.badge-success.ml-2 Orden Activa
                      small.d-block.text-muted Hardware/Tecnolog&iacute;a
                  .d-flex.border-bottom.py-2
                    .d-flex.mr-3
                      h2.align-self-center.mb-0
                        i.icon.ion-md-cube
                    .align-self-center
                      h6.d-inline-block.mb-0 Escritorio PC
                      span.badge.badge-success.ml-2
                        | Orden
                        | Activa
                      small.d-block.text-muted Muebles
                  .d-flex.border-bottom.py-2
                    .d-flex.mr-3
                      h2.align-self-center.mb-0
                        i.icon.ion-md-cube
                    .align-self-center
                      h6.d-inline-block.mb-0 C&aacute;mara Semi Profesional
                      span.badge.badge-success.ml-2 Orden Activa
                      small.d-block.text-muted Hardware/Tecnolog&iacute;a
                  .d-flex.border-bottom.py-2.mb-3
                    .d-flex.mr-3
                      h2.align-self-center.mb-0
                        i.icon.ion-md-cube
                    .align-self-center
                      h6.d-inline-block.mb-0 Headset RX52
                      span.badge.badge-success.ml-2
                        | Orden
                        | Activa
                      small.d-block.text-muted Hardware/Tecnolog&iacute;a
                  button.btn.btn-primary.w-100 Ver todas
            // FIN DE COLUMNA DE PRODUCTOS EN ORDENES
            // GRAFICOS DIVIDIDOS EN COLUMNA
            // Grafico pastel
            .col-lg-8.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Estad&iacute;stica &mdash; Productos m&aacute;s vendidos 
                .card-body
                  button#botonx.bt.my-3.font-weight-bold(onclick='pVentas()' type='button')
                    | Productos m&aacute;s
                    | vendidos
                  canvas#oilChart(width='600' height='400')
      // FIN DE GRAFICOS DIVIDIDOS EN COLUMNA
      // SECCIÓN DE DOS GRÁFICO EN UNA DIFERENTE COLUMNA
      section
        .container
          .row
            .col-lg-4.my-3
            // Grafico Lineas
            .col-lg-8.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Inventario de Stock &mdash; Estad&iacute;stica
                .card-body
                  button#botonx.bt.my-3.font-weight-bold(onclick='pStockM()' type='button')
                    | Revisar
                    | inventario mensual
                  button#botonx.bt.my-3.font-weight-bold(onclick='pStockS()' type='button')
                    | Revisar
                    | inventario semanal
                  canvas#linechart(width='600' height='400')
      // FIN DE SECCIÓN DE DOS GRÁFICO EN UNA DIFERENTE COLUMNA
      // FILA  DE PRODUCTOS EXISTENTES Y VENDIDOS (PART. INFERIOR)
      section.py-3
        .container
          .card.rounded-0
            .card-body
              .row
                .col-lg-3.col-md-6.d-flex.stat.my-3
                  .mx-auto
                    h6.text-muted Productos existentes
                    h3.font-weight-bold 10.000
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      |  75.50%
                .col-lg-3.col-md-6.d-flex.stat.my-3
                  .mx-auto
                    h6.text-muted Productos vendidos (Ult. Mes).
                    h3.font-weight-bold 100
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      |  25.50%
                .col-lg-3.col-md-6.d-flex.stat.my-3
                  .mx-auto
                    h6 &iexcl;Recuerda visitar los dem&aacute;s apartados para m&aacute;s informaci&oacute;n!
      // FIN DE FILA  DE PRODUCTOS EXISTENTES Y VENDIDOS (PART. INFERIOR
script.
  function getCookie(getName){
  var cookieName = getName+'=';
  var array = document.cookie.split(';');
  for(let i=0; i<array.length; i++){
  var cookie = array[i];
  while (cookie.charAt(0)==' '){
  cookie = cookie.substring(1);
  }
  if(cookie.indexOf(getName)==0){
  return cookie.substring(cookieName.length, cookie.length);
  }
  }
  return '';
  }
  let names = getCookie('Name')
  let userName = document.getElementById('navbarDropdown')
  userName.textContent = `${names} `
// JavaScript opcional
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js' integrity='sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=' crossorigin='anonymous')
// Script para la página Stock
script.
    function pVentas() {
    var oilCanvas = document.getElementById("oilChart");
    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;
    var oilData = {
    labels: [
    "Silla Gamer",
    "Escritorio PC (Vintage)",
    "Cámara semi profesional",
    "Headset RX52",
    "Teclado Mécanico"
    ],
    datasets: [
    {
    data: [133.3, 86.2, 52.2, 51.2, 50.2],
    backgroundColor: [
    "#001B48",
    "#004581",
    "#018ABD",
    "#97CBDC",
    "#DDE8F0"
    ],
    borderColor: "black",
    borderWidth: 2
    }]
    };
    var chartOptions = {
    rotation: -Math.PI,
    cutoutPercentage: 30,
    circumference: Math.PI,
    legend: {
    position: 'left'
    },
    animation: {
    animateRotate: false,
    animateScale: true
    }
    };
    var pieChart = new Chart(oilCanvas, {
    type: 'doughnut',
    data: oilData,
    options: chartOptions
    });
    }
    function pStockM() {
    //Creamos la tabla
    var ctx = document.getElementById('linechart').getContext('2d');
    var chart = new Chart(ctx, {
    // Seleccionamos el tipo de tabla que queremos
    type: 'line',
    // Asignamos los datos requeridos
    data: {
    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    datasets: [{
    label: 'Inventario mensual',
    backgroundColor: '#00BEDB',
    borderColor: ' #3877ff',
    data: [1250, 68, 1200, 235, 554, 1550, 600, 554, 300, 100, 975, 650]
    }]
    },
    // Configuration options go here
    options: {}
    });
    }
    function pStockS() {
    //Creamos la tabla
    var ctx = document.getElementById('linechart').getContext('2d');
    var chart = new Chart(ctx, {
    // Seleccionamos el tipo de tabla que queremos
    type: 'line',
    // Asignamos los datos requeridos
    data: {
    labels: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'],
    datasets: [{
    label: 'Inventario semanal',
    backgroundColor: '#00BEDB',
    borderColor: ' #3877ff',
    data: [50, 75, 200, 250, 554, 550, 600]
    }]
    },
    options: {}
    });
    }
