doctype html
head
  // Instanciamos los metadatos de etiquetas necesarias
  // Hacemos referencias a los estilos a utilizar como imagenes o fuentes
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Estilos
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // Estilos
  link(rel='stylesheet' href='/css/stock.css')
  // Fuentes de Google
  link(href='https://fonts.googleapis.com/css?family=Muli:300,700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  // Iconos (IONIC)
  link(href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css' rel='stylesheet')
  // JS SERVICIO WEB----------------------------------------------
  script(src='../index.js')
  script.
    function mostrar_datos() {
    fetch('/js/transaction.json')
    .then(function (res) {
    return res.json();
    })
    .then(function (data) {
    console.log(resultado);
    let html = '';
    data.forEach(function (data) {
    html += `
    <table >
    <tr>
    <td WIDTH="50"> ${data.numero}</td>
    <td WIDTH="270"> ${data.nombre}</td>
    <td WIDTH="230"> ${data.producto}</td>
    <td WIDTH="240"> ${data.estado}</td>
    <td WIDTH="160"> ${data.fecha}</td>
    </tr>
    <table >
    `
    });
    document.getElementById('resultado').innerHTML = html;
    })
    }
    function ocultar() {
    document.getElementById('botonjson').style.display = 'none';
    }
  title Transacciones
// Creamos las clases en base a Bootstrap, que nos permite desarrollar webs que se ajustan a cualquier resolución y dispositivo
#content-wrapper.d-flex
  // Barra lateral
  #sidebar-container.bg-primary
    .logo
      h4.text-light.font-weight-bold.mb-0 FACCI DASHBOARD
    // Creamos el menu lateral
    .menu
      // Hacemos referencia a las opciones (Paginas) dentro del menu
      a.d-block.text-light.p-3.border-0(href='/main')
        i.icon.ion-md-home
        |                     Inicio
      a.d-block.text-light.p-3.border-0(href='/stock')
        i.icon.ion-md-cube
        |                     Stock Productos
      a.d-block.text-light.p-3.border-0(href='/sales')
        i.icon.ion-md-pricetags
        |                     Gestion ventas
      a.d-block.text-light.p-3.border-0(href='/transaction')
        i.icon.ion-md-cash
        |                     Transacciones
      a.d-block.text-light.p-3.border-0(href='/visit')
        i.icon.ion-ios-eye
        |                     Visitas
      a.d-block.text-light.p-3.border-0(href='/topsales')
        i.icon.ion-md-basket
        |                     Productos con mayor ingreso
  // Fin de la barra lateral
  .w-100
    // Creacion de la barra superior (Navbar)
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      .container
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.mt-2.mt-lg-0
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.text-dark.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | 
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                // Menú al hacer click en el icon de usuario.
                a.dropdown-item(href='/profile') Mi perfil
                .dropdown-divider
                a.dropdown-item(href='../index.html') Cerrar sesi&oacute;n
    // Fin del Navbar
    // Contenido de la pagina
    #content.bg-grey.w-100
      // Creamos un seccion donde se da el mensaje de bienvenida
      section.bg-light.py-3
        .container
          .row
            .col-lg-9.col-md-8
              h1.font-weight-bold.mb-0 Bienvenido a la secci&oacute;n de Transacciones
      // Creamos un seccion donde ira el recuadro correspondiente a las transacciones
      section.bg-grey
        .container
          .row
            .col-lg-12.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Reporte de transacciones
                .card-body
                  .table-responsive
                    table.align-middle.text-truncate.mb-0.table.table-borderless.table-hover
                      thead
                        tr
                          // Coloxamos las columnas correspondientes
                          th.text-center #
                          th.text-center Nombre
                          th.text-center Producto
                          th.text-center Estado
                          th.text-center Fecha
                      .resultado
                        button#botonjson.btn.btn-outline-success(type='button' onclick='mostrar_datos();')
                          | Mostrar Transferencias
                        br
                        br
                  .container
                    #resultado
script.
  function getCookie(getName){
  var cookieName = getName+'=';
  var array = document.cookie.split(';');
  for(let i=0; i<array.length; i++){
  var cookie = array[i];
  while (cookie.charAt(0)==' '){
  cookie = cookie.substring(1);
  }
  if(cookie.indexOf(getName)==0){
  return cookie.substring(cookieName.length, cookie.length);
  }
  }
  return '';
  }
  let names = getCookie('Name')
  let userName = document.getElementById('navbarDropdown')
  let bienvenida = document.getElementById('welcome')
  userName.textContent = `${names} `
  bienvenida.textContent = `Bienvenido ${names}`
// Definimos los JavaScripts a los que se hacen referencia, esto incluye bibliotecas de recursos
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js' integrity='sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=' crossorigin='anonymous')
