doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='css/visit.css')
  link(rel='JavaScript' href='js/visitas.js')
  link(href='https://fonts.googleapis.com/css?family=Muli:300,700&display=swap' rel='stylesheet')
  link(href='https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet')
  script.
    fetch('/js/data.json')
    .then((res) => {
      return res.json()
    }).then((res) => {
      return res
    })
  title Visitas
#content-wrapper.d-flex
  #sidebar-container.bg-primary
    .logo
      h4.text-light.font-weight-bold.mb-0 FACCI DASHBOARD
    // Inicio del Menú
    .menu
      a.d-block.text-light.p-3.border-0(href='/main')
        i.icon.ion-md-home
        |                     Inicio
      a.d-block.text-light.p-3.border-0(href='/stock')
        i.icon.ion-md-cube
        |                     Stock Productos
      a.d-block.text-light.p-3.border-0(href='/sales')
        i.icon.ion-md-pricetags
        |                       Gestion ventas
      a.d-block.text-light.p-3.border-0(href='/transaction')
        i.icon.ion-md-cash
        |                         Transacciones
      a.d-block.text-light.p-3.border-0(href='/visit')
        i.icon.ion-ios-eye
        |                         Visitas
      a.d-block.text-light.p-3.border-0(href='/topsales')
        i.icon.ion-md-basket
        |                         Productos con mayor ingreso
    // Fin del Menú
  // Inicio de sección de presentación
  .w-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      .container
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // Inicio de sección de Nombre
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.mt-2.mt-lg-0
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.text-dark.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | 
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/profile') Mi perfil
                .dropdown-divider
                a.dropdown-item(href='/') Cerrar sesi&oacute;n
        // Fin de sección de Nombre
    // Inicio de sección de presentación de información
    #content.bg-grey.w-100
      // Inicio de Titúlo de bienvenida
      section.bg-light.py-3
        .container
          .row
            .col-lg-9.col-md-8
              h1.font-weight-bold.mb-0 Bienvenido a la secci&oacute;n de Visitas
      // Fin de Titúlo de bienvenida
      // Inicio de barra de datos generales
      section
        .container
          .card
            .card_body
              .row
                .col-lg-3.d-flex.stat.my-3
                  .mx-auto
                    h6.text-muted Visitas semanales
                    h3.font-weight-bold 1050
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      | 25.50%
                .col-lg-3.d-flex.stat.my-3
                  .mx-auto
                    h6.text-muted Visitas mensuales
                    h3.font-weight-bold 4500
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      | 60.50%
                .col-lg-3.d-flex.my-3
                  .mx-auto
                    h6.text-muted Visitas anuales
                    h3.font-weight-bold 54750
                    h6.text-success
                      i.icon.ion-md-arrow-dropup-circle
                      | 50.75%
      // Fin de barra de datos generales
      // Inicio de sección de gráficos estadísticos
      section.bg-grey
        .container
          .row
            .col-lg-8.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Gr&aacute;fico Estad&iacute;stico
                .card-body
                  canvas#Grafico2
            .col-lg-4.my-3
              .card.rounded-0
                .card-header.bg-light
                  h6.font-weight-bold.mb-0 Visitas
                .card-body
                  button#botonx.bt.my-3.font-weight-bold(onclick='semanales()' type='button') Visitas semanales
                  button#botonx.bt.my-3.font-weight-bold(onclick='mensuales()' type='button') Visitas mensuales
                  button#botonx.bt.my-3.font-weight-bold(onclick='anual()' type='button') Visitas anuales
    // Fin de sección de presentación de información
    // Fin de sección de gráficos estadísticos
script.
  function getCookie(getName){
  var cookieName = getName+'=';
  var array = document.cookie.split(';');
  for(let i=0; i<array.length; i++){
  var cookie = array[i];
  while (cookie.charAt(0)==' '){
  cookie = cookie.substring(1);
  }
  if(cookie.indexOf(getName)==0){
  return cookie.substring(cookieName.length, cookie.length);
  }
  }
  return '';
  }
  let names = getCookie('Name')
  let userName = document.getElementById('navbarDropdown')
  let bienvenida = document.getElementById('welcome')
  userName.textContent = `${names} `
  bienvenida.textContent = `Bienvenido ${names}`
  // Fin de sección de presentación
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js' integrity='sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=' crossorigin='anonymous')
script(src='js/visit.js')
